.login-box {
  display: inline-block;
  vertical-align: middle;
}

.login-button {
  color: #fff;
  padding: 5px 13px 5px 17px;
  display: inline-block;
  margin-left: 10px;
  letter-spacing: 4px;
  font-size: 12px;
  cursor: pointer;
}

.register-button {
  border: 1px solid #fff;
  border-radius: 2px;
  cursor: pointer;
}

.login-button:hover {
  color: #23b0d1;
}

.register-button:hover {
  border: 1px solid #23b0d1;
  background: #23b0d1;
  color: #fff;
}

.m-user-control {
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 9990;
  vertical-align: middle;
  min-width: 140px;
  text-align: right;
  font-size: 12px;
}

.m-user-control span {
  color: #fff;
  padding-bottom: 12px;
  margin-left: 10px;
  background: transparent;
}

.m-user-control .panel {
  display: none;
  position: absolute;
  background: #fff;
  right: 0;
  top: 25px;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 2px 5px #e6e7e8;
}

.m-user-control .panel div {
  margin-top: 10px;
}

.m-user-control:hover .panel {
  display: block;
}

.m-user-control .panel .top {
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  top: -24px;
  right: 7px;
  border: 8px solid #fff;
  border-top: 8px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  z-index: 999;
}

.m-user-control .panel ul {
  z-index: 1000;
  position: relative;
}

.m-user-control .panel ul li {
  text-align: center;
  display: block;
  border-bottom: 1px solid #e6e7e8;
}

.m-user-control .panel ul li a {
  display: block;
  padding: 10px 40px;
  color: #424242;
  font-size: 10px;
  text-align: left;
  background: #fff;
}

.m-user-control .panel ul li a:hover {
  background: #23b0d1;
  color: #fff;
}

.m-user-control .panel ul li:last-child {
  border-bottom: none;
}

.m-user-box {
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  padding: 20px 20px;
  z-index: -1;
  opacity: 0;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  display: block;
  color: #424242;
}

.m-user-box.fadeIn {
  opacity: 1;
  z-index: 9999;
}

.m-user-box .input-box {
  position: relative;
}

.m-user-box .input-box .u-icon {
  position: absolute;
  left: 5px;
  top: 9px;
}

.m-user-box .word a {
  color: #424242;
  cursor: pointer;
  display: block;
  font-size: 10px;
  margin: 8px 0;
}

.m-user-box label {
  color: #424242;
  font-size: 10px;
}

.m-user-cover {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -1;
  opacity: 0;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  display: none;
}

.m-user-cover.fadeIn {
  opacity: 0.5;
  z-index: 9998;
  display: block;
}

.m-user-box .title h3 {
  font-size: 14px;
  color: #23b0d1;
  letter-spacing: 4px;
  line-height: 2;
}

.m-user-box .title a {
  margin: 10px 0;
  display: block;
  font-size: 10px;
  letter-spacing: 1px;
}

.m-user-box .title a span {
  border-bottom: 1px solid #adadad;
  font-style: italic;
}

.m-user-box .word > div {
  display: inline-block;
  vertical-align: middle;
}

.m-user-box .word > div:first-child {
  width: 65%;
  text-align: left;
}

.m-user-box .word > div:last-child {
  width: 30%;
  text-align: right;
}

.m-user-box .word > div:last-child a {
  margin: 0;
}

.m-user-box .word .iframe {
  color: #23b0d1;
  display: inline;
}

.m-user-box .word > div:first-child input {
  margin: 0;
  vertical-align: middle;
}

.m-user-box .word > div:first-child label {
  vertical-align: middle;
}

.m-user-box .word > div:first-child a {
  vertical-align: middle;
}
