<div class="g-padding-wrapper">
  <div class="g-container-center-padding">
    <div class="m-title f-mgt-32 f-mgb-32">
      <h2>密码重置</h2>
      <div class="underline"><span></span></div>
    </div>
    <div class="loading" *ngIf="!userPassword">
      <img src="/assets/images/loading.gif" width="50">
    </div>
    <div class="m-reset-password f-text-center" *ngIf="userPassword">
      <div class="u-icon u-icon-password"></div>
      <input type="password" class="u-input-login" [(ngModel)]="userPassword.userNewPassword" placeholder="请输入新密码">
    </div>
    <div class="m-reset-password f-text-center" *ngIf="userPassword">
      <div class="u-icon u-icon-confirm"></div>
      <input type="password" class="u-input-login" [(ngModel)]="userNewPasswordCheck" placeholder="确认密码">
    </div>
    <div class="f-text-center" *ngIf="userPassword">
      <div class="u-button" (click)="resetPassword()">重置密码</div>
    </div>
  </div>
</div>