<div class="g-padding-wrapper">
  <div class="g-container-center-padding">
    <div class="m-title f-mgt-32">
      <h2>关于我们</h2>
      <div class="underline"><span></span></div>
    </div>
    <div class="m-about-us">
      <p>AusTickets品牌成立于2014年，隶属于AUSTOP环澳集团旗下环澳传媒有限公司，承接澳洲各类大中小型活动，演出的宣传及票务售卖，致力于打造全澳最实时，方便，快捷的华人票务销售网络平台。</p>
      <p>AusTickets办公室坐落于悉尼市中心Townhall火车站附近，交通便捷，一周五天截止到晚上7点的工作时间为工作及读书的客户提供了合理的取票服务，同时提供全城票务邮寄服务。</p>
      <p>AusTickets网站使用简单易懂，系统安全，支付便捷，同时有人工客服提供电话/微信等咨询服务。 </p>
      <p>AusTickets提供会员系统，注册后可享受票务折扣，定期发送的电子代金劵，免费演唱会门票赠送等增值服务。</p>
      <p>买票，就上AusTickets！</p>
    </div>
  </div>
</div>